DATASOURCE_USER=postgres
DATASOURCE_PASSWORD=postgres

JWT_SECRET=some_secret
JWT_EXPIRATION_MINUTES=10080

MAIL_HANDLER=MAILTRAP
MAIL_USE_TLS=true
MAIL_USER=some_user
MAIL_PASSWORD=some_password
MAIL_FROM=mail@flo.dev
MAIL_SANDBOX=false

STORAGE_ACCESS_KEY=some_access_key
STORAGE_SECRET_KEY=some_secret_key
STORAGE_BUCKET=some_bucket
